.overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  z-index: 1;
}

.modal {
  box-sizing: border-box;

  width: 700px;
  max-height: 80vh;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  margin: 0 auto;
  padding: 40px;

  background-color: #fff;
  box-shadow: 0 12px 15px 0 black;

  overflow-y: auto;
  z-index: 2;

  &__content {
    word-break: break-all;
  }

  &__button {
    position: sticky;
    top: 0px;
    right: 0px;

    border: none;
    background: none;
  }
}
